/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Niconne|Roboto");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Niconne|Roboto");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Niconne|Roboto");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Niconne|Roboto");
@import url("https://fonts.googleapis.com/css?family=Caveat");
@import url("https://fonts.googleapis.com/css?family=Niconne|Roboto");
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a,
em, img, small, strike, strong, sub, sup,
ol, ul, li, fieldset, form, label,
table, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, footer, header, hgroup,
menu, nav, output, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

input {
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: #000000; }

body {
  background-color: #fafafa; }

.container {
  width: 100%;
  height: 100%; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

.left-side {
  float: left;
  margin: 0 0 0 20%; }

.mobile-app-ads {
  position: relative;
  margin-top: 42px; }
  .mobile-app-ads .iphone-app {
    position: absolute;
    top: 100px;
    left: 151px; }

.right-side {
  float: right;
  width: 400px;
  margin: 52px 10% 0 0; }

.top, .bottom {
  width: 100%; }
  .top > div, .bottom > div {
    padding: 0 52px; }

.top {
  border: 1px solid #efefef;
  background-color: #fff; }

.or-seperator, .login-tab {
  transition: margin 0.5s ease; }

.padding-me {
  padding: 0 50px; }

.site-intro {
  text-align: center; }
  .site-intro .logo {
    font: 500 5em "Caveat", cursive; }
  .site-intro .sign-up-instruction {
    margin: 4px 0 28px 0;
    line-height: 1.3;
    font-size: 1em;
    font-weight: 500;
    color: #999; }
  .site-intro .login-with-fb {
    position: relative;
    margin: 0;
    padding: 0 0 0 18px;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 0.9em;
    border: none;
    color: white;
    background-color: #3b5998;
    cursor: pointer;
    outline: none; }
    .site-intro .login-with-fb::before {
      content: '\f09a';
      position: absolute;
      display: block;
      padding-top: 3px;
      margin: 3px 0 0 25px;
      width: 18px;
      height: 16px;
      line-height: 16px;
      font-family: FontAwesome;
      color: #3b5998;
      background-color: #fff;
      top: 3px;
      left: 40px; }
    .site-intro .login-with-fb:hover {
      background-color: #4a70ac; }

.or-seperator {
  margin: 12px 0 18px 0; }
  .or-seperator div {
    display: inline-block;
    width: 126px;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc; }
  .or-seperator span {
    position: relative;
    top: 4px;
    color: #999;
    margin: 0 10px;
    font-weight: 500; }

.account-access-inform {
  margin: 24px 0 32px 0;
  text-align: center;
  width: 100%;
  height: 72px;
  line-height: 72px;
  background-color: #fff;
  border: 1px solid #efefef; }
  .account-access-inform a {
    text-decoration: none; }

.get-the-app {
  text-align: center; }
  .get-the-app p {
    margin-bottom: 10px;
    font-size: 1.0em; }
  .get-the-app img {
    display: inline-block;
    width: 142px; }
  .get-the-app .app-store-badge {
    float: right; }

.main-footer {
  clear: both;
  bottom: 5px;
  padding: 32px 0 0 30%; }
  .main-footer:after {
    content: "";
    display: table;
    clear: both; }
  .main-footer li {
    float: left;
    margin: 0 8px; }
    .main-footer li a {
      text-decoration: none;
      font-size: 0.8em;
      font-weight: bold;
      text-transform: uppercase;
      color: #003569; }
  .main-footer .original {
    float: right; }

.form-group {
  padding: 0 !important; }

.form-group {
  margin-bottom: 16px; }
  .form-group .field {
    width: 100%;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #efefef;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075); }

.form-btn {
  display: block;
  width: 100%;
  height: 32px;
  margin-bottom: 32px;
  border: none;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #4a70ac;
  cursor: pointer;
  outline: none; }
  .form-btn:hover {
    background-color: #3b5988; }

.error {
  margin: 4px 11px;
  color: red;
  font-size: 0.9em; }

.unexpected {
  margin: -20px 0 18px 11px; }

.terms-agreement {
  margin: -10px 0 28px 0;
  text-align: center;
  color: #999;
  font-size: 0.9em;
  line-height: 1.2; }
  .terms-agreement a {
    text-decoration: none;
    color: #333333; }

.success {
  position: relative;
  color: green;
  padding: 2px 0 0 30px;
  margin: -16px 0 24px 0; }
  .success::after {
    position: absolute;
    top: 1px;
    left: 10px;
    content: "\f00c";
    font-family: FontAwesome; }

.home {
  font-family: 'Raleway', sans-serif; }

.header {
  background: #ffffff;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  font-family: 'Raleway', sans-serif; }

.header-container {
  width: 980px;
  margin: auto;
  height: 100%; }

.Logo {
  margin-top: 10px;
  float: left; }

.Logo img {
  height: 100%;
  width: 100%; }

.headerControl {
  float: right;
  display: inline-flex;
  margin: 25px 25px 0 0; }

.headerNavigation ul li {
  display: inline-flex;
  padding-right: 35px; }

.searchbox {
  float: left;
  margin: 25px 0 0 10%; }

.searchbox input {
  width: 210px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  text-align: center; }

.content {
  width: 602px;
  margin: auto;
  padding: 100px 0 0 0;
  font-family: 'Raleway', sans-serif; }

.post-status {
  background: #EBF4FB;
  border: 1px solid #ddd; }

.post-status textarea {
  width: 80%;
  border-radius: 5px;
  height: 100px;
  /* margin: 50px; */
  margin: 30px 0 0 55px;
  font-size: 14px;
  padding: 10px;
  font-family: 'Raleway', sans-serif; }

.post-btn {
  float: right;
  margin: 0px 60px 0 0;
  height: 35px;
  width: 100px;
  color: #fff;
  background: #1b95e0;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer; }

.action label {
  margin: 0 0 0 55px;
  cursor: pointer; }

.thumbnail {
  height: 100px;
  width: 100px;
  margin: 10px 0 10px 50px; }

.follow-suggestion {
  border: 1px solid #ddd;
  margin: 25px 0 0 0; }

.suggestion-header {
  height: 50px;
  /* background: #ebf4fb; */
  border-bottom: 1px solid #ddd; }

.suggestion-header h1 {
  float: left;
  padding: 17px;
  font-weight: bold;
  color: #999; }

.suggestion-header a {
  float: right;
  margin: 17px; }

.follow-row {
  padding: 12px 0 0 15px;
  height: 75px;
  border-bottom: 1px solid #ddd; }

.member {
  float: left; }

.member a img {
  border-radius: 50%; }

.follow-btn {
  float: right;
  height: 30px;
  width: 130px;
  border: 1px solid #3897f0;
  background: #fff;
  border-radius: 5px;
  color: #3897f0;
  margin: 20px;
  cursor: pointer; }

.unfollow-btn {
  float: right;
  height: 30px;
  width: 130px;
  border: 1px solid #70c050 !important;
  background: #70c050 !important;
  border-radius: 5px;
  color: #fff;
  margin: 20px;
  cursor: pointer; }

.username {
  float: right;
  margin: 18px; }

.username h2 {
  font-size: 16px;
  font-weight: bold; }
.username p {
  font-size: 14px; }

.timeline {
  margin: 25px 0 0 0; }

.photo-card {
  margin: 45px 0 25px 0;
  border: 1px solid #ccc;
  background: #fff; }

.card-header {
  height: 73px; }

.uploader {
  float: left;
  padding: 10px; }

.upload-date {
  float: right;
  margin: 25px; }

.avatar img {
  border-radius: 50%;
  height: 50px; }

.card-status {
  display: inline-flex; }

.card-footer {
  width: 95%;
  margin: 15px;
  /* padding: 0; */
  height: 75px;
  border-top: 1px solid #ccc;
  /* padding-top: 15px; */
  display: inline-flex; }

.usernamestt {
  padding: 10px 0 0 25px;
  font-weight: bold; }

.status {
  padding: 10px 0 0 5px; }

.num-liked {
  padding: 10px 0 0 25px; }

.like-btn {
  padding: 25px;
  cursor: pointer; }

.card-footer input {
  height: 35px;
  /* padding-top: 25px; */
  margin-top: 20px;
  border: none;
  width: 80%;
  outline: none; }

.submit-comment-btn {
  padding-top: 25px;
  cursor: pointer; }

.comment {
  display: inline-flex;
  width: 100%; }
  .comment a {
    padding: 0 0 0 25px;
    font-weight: bold; }
  .comment p {
    padding: 0 0 0 5px; }

.card-content a::after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6) url(http://handcoded.ca/demos/hover-overlay/images/happy.png) center center no-repeat;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.search-result {
  background: #fff;
  margin: 50px 0 0 22%;
  width: 30%;
  box-shadow: 1px 1px 1px #888888; }

.search-result-row {
  display: inline-block;
  margin: 15px; }
  .search-result-row img {
    float: left;
    border-radius: 50%;
    height: 50px; }
  .search-result-row span:first-child {
    font-size: 16px;
    font-weight: bold; }
  .search-result-row span {
    line-height: 50px;
    margin: 10px; }

.profile-container {
  width: 980px;
  margin: auto;
  padding-top: 75px;
  font-family: 'Raleway', sans-serif; }

.info {
  float: right;
  margin: 30px; }

.top-row {
  display: inline-flex;
  padding: 25px; }
  .top-row h1 {
    font-size: 34px;
    margin-top: 20px; }

.middle-row {
  padding: 0 0 25px 25px; }

.bottom-row {
  padding: 0 0 0 25px; }

.overview {
  display: inline-block; }
  .overview img {
    border-radius: 50%;
    width: 120px;
    margin: 50px 0 50px 100px;
    height: 120px; }

.post-thumbnail {
  display: inline-flex;
  border-radius: 50%;
  margin: 25px 1.75% 0 1.5%;
  width: 30%;
  height: 250px; }
  .post-thumbnail a img {
    width: 100%;
    height: 100%; }

.options {
  margin: 0 0 0 200px; }
  .options button {
    height: 35px;
    width: 100px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px !important; }

.posts-count {
  padding: 0 25px 0 0;
  font-size: 16px; }
  .posts-count span {
    font-weight: bold; }

.follower-count {
  padding: 0 25px 0 25px;
  font-size: 16px; }
  .follower-count span {
    font-weight: bold; }

.following-count {
  padding: 0 25px 0 0;
  font-size: 16px; }
  .following-count span {
    font-weight: bold; }

.edit-profile {
  width: 980px;
  margin: 130px 180px 180px 180px;
  height: 313px;
  border: 1px solid #ccc;
  padding-top: 0 !important;
  font-family: 'Raleway', sans-serif;
  display: inline-block; }

.edit-tab {
  float: left;
  margin: 50px 0 0 0; }
  .edit-tab ul li {
    line-height: 50px;
    padding: 0 0 0 50px; }

.edit-area {
  float: right;
  border-left: 1px solid #ccc;
  width: 70%;
  height: 313px; }

.overview-edit {
  margin: 25px 0 0 50px;
  display: inline-flex; }
  .overview-edit img {
    width: 60px;
    height: 60px;
    border-radius: 50%; }
  .overview-edit h1 {
    padding: 17px;
    font-size: 26px; }

.choose-avatar {
  padding: 10px 0 0 174px; }
  .choose-avatar label {
    cursor: pointer; }

.change-description {
  padding: 25px 0 0 174px; }
  .change-description input {
    width: 250px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 0 0 5px;
    margin: 0 0 0 5px; }

.btn-update {
  float: right;
  margin: 40px 150px 50px 0;
  border: 1px solid #3897f0;
  height: 30px;
  background: transparent;
  color: #3897f0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.form-group1 {
  padding: 16px 0 0 50px; }

.changePass {
  padding: 25px 0 0 45px; }

.form-group1 input {
  width: 250px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 0 0 5px;
  margin: 0 0 0 5px; }

.change-password-btn {
  float: right;
  margin: 0 150px 50px 0;
  border: 1px solid #3897f0;
  height: 30px;
  background: transparent;
  color: #3897f0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer; }

.active {
  font-weight: bold;
  border-left: 2px solid #000; }

.successMessage {
  float: right;
  /*margin: 80px 0 0 0;*/
  padding: 30px;
  color: #4e9f2e;
  font-weight: bold;
  font-style: italic; }

.errorMessage {
  float: right;
  /*margin: 80px 0 0 0;*/
  padding: 30px;
  color: red;
  font-style: italic; }

.container {
  margin: 0 auto;
  font-family: "Roboto", sans-serif; }

/*# sourceMappingURL=main.css.map */
